.container{
  background-color: rgb(234, 240, 239);
  text-align: center;
  align-content: center;
  width: 85%;
  padding: 0;
}

.playerInfoDetails{
  list-style-type: none;

}

.tournamentDetails{
  list-style-type: none;
}

.playerInfo {
  background-color: rgb(224, 233, 233);
  border: 3px solid rgb(108, 179, 175);
  margin: auto;
  width: 80%;
  border-radius: 20px;
}
.yearContainer:hover {
  cursor: pointer;
  color: darkblue;
}

.tournamentTableData {
  cursor: pointer;
}

h5 {
  color: darkblue;
}

h3 {
  color: rgb(32, 110, 84);
}

.playerStatsContainer {
  margin-left: 2%;
}

.titleContainer {
  background-color: rgb(108, 179, 175);
}
