<div class="container">
  <app-navbar></app-navbar>
  <br />
  <br />
  <br />
  <br />
  <h1>DG Tournament Tracker</h1>
  <br />
  <br />
  <!-- Player info -->
  <div class="playerInfo">
    <h2>Ryan Majors #104126</h2>
    <br>
    <ul>
      <li class="playerInfoDetails" name="playerLocation">
        Location: Arvada, Colorado, United States
      </li>
      <li class="playerInfoDetails" name=":playerClassification">
        Classification: Amateur
      </li>
      <li class="playerInfoDetails" name="playerJoinYear">
        Member Since: 2018
      </li>
      <li class="playerInfoDetails" name="playerStatus">
        Status: Current (Expires: 12/31/2022)
      </li>
    </ul>
  </div>
  <br />
  <br />
  <br />

  <!-- Player Stats and Filters / Stats Table -->
  <div class="playerStatistics">
    <div class="playerStatsContainer">
      <h3 name="playerStatsTitle">Player Statistics</h3>

      <div name="yearSelector">
        <span
          class="yearContainer"
          (click)="selectedYear = year"
          (click)="selected = null"
          (click)="addTournamentFormSelected = false"
          (click)="updateFormSelected = false"
          (click)="editTournament = null"
          (click)="reload()"
          *ngFor="let year of years"
        >
          {{ year }}
        </span>
        <br>
        <button
        *ngIf="basicStatsOn"
        class="toggleStatButton1"
        (click)="basicStatsOn = false"
      >
        Detailed Stats
      </button>
      <button
        *ngIf="!basicStatsOn"
        class="toggleStatButton2"
        (click)="basicStatsOn = true"
      >
        BasicStats
      </button>
      <button class="addTournamentButton" (click)="addTournamentFormSelected = true">Add Tournament</button>
      </div>
    </div>
    <br />
    <div id="basicStatData" *ngIf="basicStatsOn && selectedYear!='Wins'">
      <br />
      <h5 id="basicStatDataTitle">{{ selectedYear }} Season Totals</h5>
      <div class="basicStatDataTable">
        <table class="content-table">
          <thead>
            <tr>
              <th>Tournaments</th>
              <th>Points</th>
              <th>Wins</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <td>{{ displayNumTournaments() }}</td>
              <td>{{ displayNumPoints() }}</td>
              <td>{{ displayNumWins() }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="detailedStatData" *ngIf="!basicStatsOn">
      <h5 id="detailedStatDataTitle">{{ selectedYear }} Detailed Stats</h5>
      <div class="detailedStatDataTable">
        <table class="content-table">
          <thead>
            <tr>
              <th>Points/Tournament</th>
              <th>Win %</th>
              <th>Podium Finishes</th>
              <th>Podium %</th>
              <th>Top 5 Finishes</th>
              <th>Top 5 %</th>
              <th>Top 10 Finishes</th>
              <th>Top 10 %</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <td>{{ displayPointsPerTournament() }}</td>
              <td>{{ displayWinPercentage() }}</td>
              <td>{{ displayNumPodiumFinishes() }}</td>
              <td>{{ displayPodiumPercentage() }}</td>
              <td>{{ displayNumTop5Finishes() }}</td>
              <td>{{ displayTop5Percentage() }}</td>
              <td>{{ displayNumTop10Finishes() }}</td>
              <td>{{ displayTop10Percentage() }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Single Tournament Details -->
  <div
    class="tournamentDetailsDiv"
    *ngIf="selected && !addTournamentFormSelected && !editTournament"
  >
    <h4>{{ selected.name }}</h4>
    <ul>
      <br>
      <li class="tournamentDetails">Tier: {{ selected.tier }}</li>
      <li class="tournamentDetails">
        Date: {{ selected.month }}/{{ selected.year }} - Location: {{ selected.location }}</li>
      <li class="tournamentDetails">
        Days: {{ selected.days }} - Entry fee: ${{ selected.entryFee }}
      </li>
      <li class="tournamentDetails">Players: {{ selected.players }} - Placed: {{ selected.placement }} - Points: {{ selected.points }}</li>
      <!-- <li class="tournamentDetails">Placed: {{ selected.placement }}</li>
      <li class="tournamentDetails">Points: {{ selected.points }}</li> -->
    </ul>
    <button class="formButtons" (click)="setEditTournament()">Update</button>
    <button class="formButtons" (click)="deleteTournament(selected.id)" (click)="selected = null">
      Delete
    </button>
  </div>

  <!-- Tournament Results - Want to have tournament results hide when new form or single tournament is selected -->
  <div
    name="tournamentResults"
    *ngIf="!selected && !addTournamentFormSelected"
  >
    <br />
    <h5 name="tournamentResultsTitle">{{ selectedYear }} Tournament Results</h5>
    <div class="tournamentResultsTable">
      <table class="content-table">
        <thead>
          <tr>
            <th>Place</th>
            <th>Points</th>
            <th>Tournament</th>
            <th>Tier</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="table-secondary"
            *ngFor="
              let tournament of tournaments | tournamentYear: selectedYear
            "
            (click)="selected = tournament"
          >
            <td class="tournamentTableData">{{ tournament.placement }}</td>
            <td class="tournamentTableData">{{ tournament.points }}</td>
            <td class="tournamentTableData">{{ tournament.name }}</td>
            <td class="tournamentTableData">{{ tournament.tier }}</td>
            <td class="tournamentTableData">
              {{ tournament.month }}/{{ tournament.year }}
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>

  <!-- Add New Tournament Form -->
  <div class="addNewTournamentForm" *ngIf="!selected && addTournamentFormSelected">
    <h3>New Tournament Form</h3>
    <form>
      <div>
        <label for="newName">Tournament Name:</label>
        <input type="text" name="newName" [(ngModel)]="newTournament.name" />
      </div>
      <div>
        <label for="newTier">Tier:</label>
        <input type="text" name="newTier" [(ngModel)]="newTournament.tier" />
      </div>
      <div>
        <label for="newLocation">Location</label>
        <input type="text" name="newLocation" [(ngModel)]="newTournament.location"/>
      </div>
      <div>
        <label for="newMonth">Month:</label>
        <input type="text" name="newMonth" [(ngModel)]="newTournament.month" />
      </div>
      <div>
        <label for="newYear">Year:</label>
        <input type="text" name="newYear" [(ngModel)]="newTournament.year" />
      </div>
      <div>
        <label for="newPlayers">Players:</label>
        <input type="text" name="newPlayers" [(ngModel)]="newTournament.players"/>
      </div>
      <div>
        <label for="newEntryfee">EntryFee</label>
        <input type="text" name="newEntryfee" [(ngModel)]="newTournament.entryFee"/>
      </div>
      <div>
        <label for="newPlacement">Placement</label>
        <input type="text" name="newPlacement" [(ngModel)]="newTournament.placement"/>
      </div>
      <div>
        <label for="">Points</label>
        <input type="text" name="newPoints" [(ngModel)]="newTournament.points" />
      </div>
      <div>
        <label for="newMultiday">Multi-Day</label>
        <input type="checkbox" name="newMultiday"[(ngModel)]="newTournament.multiDay"/>
      </div>
      <div>
        <label for="newDays">Days:</label>
        <input type="text" name="newDays" [(ngModel)]="newTournament.days" />
      </div>
      <div>
      </div>
      <br>
      <!-- <input type="submit" (click)="addTournament(newTournament)"
        value="Submit"
        (click)="addTournamentFormSelected = false"
      /> -->
      <button class="formButtons" type="submit" (click)="addTournament(newTournament)"
      value="Submit"
      (click)="addTournamentFormSelected = false">Submit</button>
    </form>
  </div>

  <div class="updateTournamentForm" *ngIf="editTournament">
    <h3>Update Tournament Form</h3>
    <form>
      <label for="">Tournament Name:</label>
      <input type="text" name="name" [(ngModel)]="editTournament.name" />
      <label for="">Tier:</label>
      <input type="text" name="tier" [(ngModel)]="editTournament.tier" />
      <label for="">Location</label>
      <input
        type="text"
        name="location"
        [(ngModel)]="editTournament.location"
      />
      <label for="">Month:</label>
      <input type="text" name="month" [(ngModel)]="editTournament.month" />
      <label for="">Year:</label>
      <input type="text" name="year" [(ngModel)]="editTournament.year" />
      <label for="">Players:</label>
      <input type="text" name="players" [(ngModel)]="editTournament.players" />
      <label for="">EntryFee</label>
      <input
        type="text"
        name="entryfee"
        [(ngModel)]="editTournament.entryFee"
      />
      <label for="">Placement</label>
      <input
        type="text"
        name="placement"
        [(ngModel)]="editTournament.placement"
      />
      <label for="">Points</label>
      <input type="text" name="points" [(ngModel)]="editTournament.points" />
      <label for="">Multi-Day</label>
      <input
        type="checkbox"
        name="multiday"
        [(ngModel)]="editTournament.multiDay"
      />
      <label for="">Days:</label>
      <input type="text" name="days" [(ngModel)]="editTournament.days" />
      <br>
      <button class="formButtons" id="updateButton"
      type="submit"
      (click)="updateTournament(editTournament)"
      (click)="editTournament = null"
      value="Submit">Submit</button>
      <button class="formButtons" id="cancelButton" (click)="editTournament = null">Cancel</button>
    </form>
  </div>
  <app-footer class="footer"></app-footer>
</div>
