<div class="topnav">
  <a class="active" (click)="homeComp.reload()" (click)="homeComp.selectedYear='All'" (click)="homeComp.selected=null">Home</a>
  <a class="navTitle">Disc Golf Tournament Tracker</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search" [(ngModel)]="keyword">
      <button (click)="homeComp.displayTournamentsByKeyword(keyword)" (click)="keyword = ''" type="submit" >🔍</button>
    </form>
  </div>
</div>
